.participantContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    min-width: 700px;
    max-height: 600px
}
  
.childParticipantContainer img {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}

.childParticipantContainer {
    padding: 5px;
    display: flex;
    gap: 10px;
    flex-direction: row;
    background-color: #ccc;
    color: black;
    margin: 5px;
    border-radius: 10px;
}

.bg1 div .participantContainer {
    width: 100%;
}